<div class="row" style="margin-top:50px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">{{ "modules.jobSearch.header.main" | trans }}</h4>
                        <p class="card-subtitle">{{ "modules.jobSearch.header.sub" | trans }}</p>
                    </div>
                </div>

            </div>

        <section id="jobSearchWrapper">
            {{ form_start(jobOfferScrappingForm, {"attr": {
                "data-submit-via-ajax": "true",
                "data-ajax-url"       : path("ajax_scrap_data_for_request")
            }}) }}
            {{ form_end(jobOfferScrappingForm) }}
        </section>

        </div>
    </div>
</div>
