/* Job search form*/
#jobSearchWrapper form .form-group {
    padding: 10px;
}

* {
    font-size: 13px;
}

/* Tables */
.selected-row {
    background-color: rgba(0,0,0,0.1);
}

.clickable-cell {
    cursor: pointer;
}