/* Job search form*/
#jobSearchWrapper form .form-group {
    padding: 10px;
}

* {
    font-size: 13px;
}

/* Tables */
.selected-row {
    background-color: rgba(0,0,0,0.1);
}

.clickable-cell {
    cursor: pointer;
}

/* DOM */
.hoverable:hover {
    opacity: 0.7;
}

.pointer {
    cursor: pointer;
}

/* Misc */
label.required:after {
    content: "*";
    color:red;
    position: absolute;
    right: 0px;
}

label.required {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
}

/* Forms */
label.error{
    color: rgba(217, 30, 24, 1) !important;
}

.selectize-input{
    overflow: visible;
}

.selectize-input > label.error {
    position: absolute;
    top: 32px;
    left: 0px;
}