<div class="logo">
    <a href="/">
        <span class="logo-emblem" style="width: 100%; height:100%;">
            <img src="/images/logo.png" alt="Job searcher" style="max-width: 190px; max-height: 100%; margin-left: -25px;"/>
        </span>
        <span class="logo-full"> {{ "page.title" | trans }}</span>
    </a>
</div>