<ul id="sidebarCookie">
    <li class="spacer"></li>
    <li class="spacer"></li>
    <li class="nav-item">
        <a class="" href="#">
            <i class="feather icon-sidebar"></i>
            <span class="menu-title">{{ 'menu.searchSettings' | trans }}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link wave-effect collapsed" data-parent="#sidebarCookie" data-toggle="collapse"
           href="#navMailbox" aria-expanded="false" aria-controls="page-mailbox">
            <i class="feather icon-mail"></i>
            <span class="menu-title">{{ 'menu.mailTemplates' | trans }}</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="http://localhost:4000/credits" class="nav-link wave-effect nav-single">
            <i class="feather icon-zap"></i>
            <span class="menu-title">{{ 'menu.credits' | trans }}</span>
        </a>
    </li>
</ul>
