<section id="saveSearchSettingsDialogContent">
    <div class="form-group row">
        <label class = "col-form-label col-sm-2 required"
               for   = "search">
            Name {# todo: add to trans #}
        </label>
        <div class="col-sm-10">
            <input type         = "text"
                   name         = "search_setting_saved_name"
                   required     = "required"
                   id           = "search_setting_saved_name"
                   placeholder  = "{{ "dialogs.searchSettings.save.placeholder" | trans }}"
                   class        = "form-control"
                   ref          = "saveSearchSettingsNameInput"
            >
        </div>
    </div>
</section>