{% set dialogsController         = "App\\Controller\\DialogsController::" %}
{% set TWIG_VAR_SEARCH_SETTINGS  = constant(dialogsController ~ 'TWIG_VAR_SEARCH_SETTINGS') %}

<div id="searchSettingsDialogWrapper" style="padding:5px;">

    <h4 style="text-align: center;"> Saved search settings </h4> {#todo: move to translate#}

    <table data-is-datatable="true" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ "dialogs.searchSettings.table.name" | trans }}</th>
            </tr>
        </thead>
        <tbody>
                {% for searchSetting in _context[TWIG_VAR_SEARCH_SETTINGS] %}
                    <tr>
                        <td>{{ searchSetting.getName() }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

</div>