<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {{ "page.title" | trans }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootadmin core css #}
    <link rel="stylesheet" href="/bootadmin/style/vendor/library.min.css">
    <link rel="stylesheet" href="/bootadmin/style/vendor/jqueryui-flat/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/libs/fontawesome/all.css">
    <link rel="stylesheet" href="/bootadmin/style/core/style.min.css">

    <link rel="shortcut icon" href="/bootadmin/images/favicon/favicon.ico">

    {# Main css #}
    <link rel="stylesheet" href="css/main.css">

    <script src="{{ getRuntimeJsScriptChunkFileLocation() }}"></script>
    <script src="{{ getVendorJsScriptChunkFileLocation() }}"></script>

    {% block headStylesheets %}{% endblock %}
    {% block headScripts %}{% endblock %}
</head>

<body id="landing" class="sidebar-open">
<div class="spinner d-none">
    <div class="loading-center"><img src="images/spinner.gif" alt="Loading" /></div>
</div>
<div class="page-container">
    <div id="dashboardPage">
        {% include 'components/topbar.twig' %}
        {% include 'components/sidebar.twig' %}
        <main>
            <div class="container-fluid main-container-wrapper">
                {% block mainContainerWrapper %}{% endblock %}
                {% block scriptsAfterMainContainerWrapper %}{% endblock %}
            </div>
            {% include 'components/fotter.twig' %}
        </main>
    </div>

</div>

<script src="{{ getJsChunkFileLocationForChunkName("sidebar") }}"></script>

</body>
</html>