<footer>
    <p>&copy; JobSearcher. All Rights Reserved. <br />Developed by
        <a href="https://github.com/Volmarg">
            <i class="feather icon-github"></i>
            <span>Volmarg Reiso</span>
        </a>.
    </p>
</footer>
