<div class="topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 hidden-xs">
                <div class="logo">
                    <a href="/">
                        <span class="logo-emblem"><img src="/images/logo.png" alt="Job searcher" /></span>
                        <span class="logo-full"> {{ "page.title" | trans }}</span>
                    </a>
                </div>
{#                <a href="#" class="menu-toggle wave-effect" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">#}
{#                    <i class="feather icon-menu"></i>#}
{#                </a>#}
            </div>
        </div>
    </div>
</div>